@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(71, 63, 63, 1);
    --foreground: #ededed;
  }
}
.custom-image-height {
    height: 100% !important;
    width: 100% !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%; /* Prend toute la hauteur de la page */
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Prend au moins 100% de la hauteur de la fenêtre */
}

main {
  flex: 1; /* Permet au contenu de prendre l'espace disponible */
}
